<div class="base-header">

    <a href="../index.html">
        <h1>HELP & SUPPORT</h1>
    </a>
    <div class="col-lg-6">
        <div class="input-group">
            <input type="text" class="form-control">
            <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Search</button>
                    </span>
        </div>
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
            <li ng-repeat="item in category">
                <a href="#">{{ item }}</a>
            </li>
        </ul>
    </div>
</div>




<div class="responses">
    <div class="question" ng-repeat="question in questions">
        <span class="h4">{{ question.author }}</span>
        <span> {{ question.date }}</span><br>
        <div>
            <span>{{ question.title }}</span>
            <span class="small">{{ question.category }}</span>
        </div>
        <span>{{ question.text }}</span>
        <div class="answer" ng-repeat="answer in answers | filter:question.title">
            <span class="h4">{{ answer.author }}</span>
            <span>{{ answer.date }}</span>
            <div>
                <span>{{ answer.title }}</span>
                <span class="small">{{ answer.category }}</span>
            </div>
            <span>{{ answer.text }}</span>
        </div>
    </div>
</div>